body {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

/* Toggle styling */

.accordion-toggle, h2 {
	color: #FFFFFF;
	text-align: center;
	font-style: strong;
	font-family: Raleway, sans-serif;
	line-height: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin: 0px;
	border: 0px;
	width: 100%;
	cursor: pointer;
}

/* Toggle backgrounds */

.accordion-toggle:nth-of-type(1) {
	background-image: url("../img/teddy-kelley-toggle.jpg");
	background-size: cover;
}

.accordion-toggle:nth-of-type(2) {
	background-image: url("../img/john-salzarulo-toggle.jpg");
	background-size: cover;
}

.accordion-toggle:nth-of-type(3) {
	background-image: url("../img/luca-bravo-toggle.jpg");
	background-size: cover;
}

.accordion-toggle:nth-of-type(4) {
	background-image: url("../img/freddy-castro-toggle.jpg");
	background-size: cover;
}

/* Hides default toggle at start */

.accordion-toggle.default {
	display: none;
}

/* Panel backgrounds */

.accordion-content:nth-of-type(1) {
	background-image: url("../img/teddy-kelley.jpg");
	background-size: cover;
}

.accordion-content:nth-of-type(2) {
	background-image: url("../img/john-salzarulo.jpg");
	background-size: cover;
}

.accordion-content:nth-of-type(3) {
	background-image: url("../img/luca-bravo.jpg");
	background-size: cover;
}

.accordion-content:nth-of-type(4) {
	background-image: url("../img/freddy-castro.jpg");
	background-size: cover;
}

/* Hides panels at start */

.accordion-content {
	display: none;
	height: 80%;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

/* Shows default panel at start */

.accordion-content.default {
	display: block;
	height: 80%;
	margin: 0px;
	border: 0px;
}

/* Forms styling */

#contactform {
	padding-top: 5%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 50%;
}

.form-group {
	width: 60%;
	margin: auto;
}

.form-group > textarea {
	height: 30%;
}

/* Panel h1 header styling */
.accordion-content > h1 {
	color: #FFFFFF;
	font-size: 200px;
	font-family: 'Lobster', cursive;
	text-align: center;
	margin: 0px;
}

/* Panel paragraph styling, vertically centered */
p {
	font-family: Raleway, sans-serif;
	font-size: 20px;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 20%;
}

@media screen and (max-width: 992px) {
	ul {
		list-style: none;
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 60%;
		text-align: center;
	}

	li {
		margin-top: 10%;
	}
}

h3 {
	margin: auto;
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	color: #FFFFFF;
}

#portrait {
	width: 250px;
	height: 250px;
	border-radius: 125px;
	display: block;
	margin: auto;
	margin-top: 30px;
}

@media screen and (min-width: 992px) {
	p {
		height: 40%;
	}
	ul {
		list-style: none;
		padding-top: 5%;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-align-content: center;
		align-content: center;
	}
	li {
		display: inline-block;
		margin: auto;
	}
}