/* Toggle styling */

.accordion-toggle, h2 {
	color: #FFFFFF;
	text-align: center;
	font-style: strong;
	font-family: Raleway, sans-serif;
	font-size: 5vh;
	line-height: 6%;
	padding-top: 3%;
	padding-bottom: 3%;
	margin: 0px;
	border: 0px;
	width: 100%;
	cursor: pointer;
	background-size: cover;
}

/* Toggle backgrounds */

.accordion-toggle:nth-of-type(1) {
	background-image: url("../img/teddy-kelley-toggle.jpg");
}

.accordion-toggle:nth-of-type(2) {
	background-image: url("../img/ales-krivec-toggle.jpg");
}

.accordion-toggle:nth-of-type(3) {
	background-image: url("../img/fabien-barral-toggle.jpg");
}

.accordion-toggle:nth-of-type(4) {
	background-image: url("../img/freddy-castro-toggle.jpg");
}

/* Hides default toggle at start */

.accordion-toggle.default {
	display: none;
}





/* Content panel styling */
/* Panel backgrounds */

.accordion-content:nth-of-type(1) {
	background-image: url("../img/teddy-kelley.jpg");
}

.accordion-content:nth-of-type(2) {
	background-image: url("../img/ales-krivec.jpg");
}

.accordion-content:nth-of-type(3) {
	background-image: url("../img/fabien-barral.jpg");
}

.accordion-content:nth-of-type(4) {
	background-image: url("../img/freddy-castro.jpg");
}

/* Hides panels at start */

.accordion-content {
	display: none;
	background-size: cover;
	background-position: center;
	min-height: 90%;
	max-height: 200%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

/* Shows default panel at start */

.accordion-content.default {
	display: block;
	background-size: cover;
	background-position: center;
	min-height: 90.0vh;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
}




/* 



Content styling



*/

body {
	background-color: #000000;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.row {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

p {
	font-family: Raleway, sans-serif;
	font-size: 20px;
	color: #FFFFFF;
}





/* Panel h1 header styling */
.accordion-content > h1 {
	color: #FFFFFF;
	font-size: 15.0vh;
	font-family: 'Lobster', cursive;
	text-align: center;
	margin: 0px;
	margin-bottom: 5vh;
}





/* Forms styling */
/* margin: auto; used for horizontal centering*/
/* flexbox used for vertical centering*/
.form-group {
	width: 60%;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 10%;
}





/* Panel paragraph styling, vertically centered with flexbox*/
.profile-summary > p {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 20%;
	padding: 20px;
	margin: 0px;
	border: 0px;
}





/* Used on home page */
h3 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	color: #FFFFFF;
}

@media screen and (max-width: 992px) {
	ul {
		list-style: none;
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 60vh;
		text-align: center;
	}

	li {
		margin-top: 5vh;
	}
}





/* Profile picture styling */

#portrait {
	border-radius: 75px;	
	width: 150px;
	height: 150px;
	margin: auto;
}

.picture {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 20%;
}





/* Portfolio styling */
.portfolio > * > * {
	text-align: center;
}

.portfolio-thumbnail {
	display: block;
	border-radius: 10vh;
	width: 20vh;
	height: 20vh;
	margin: auto;
}

.portfolio > * > h4 {
	font-family: Raleway, sans-serif;
	font-size: 30px;
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	border: 0px;
}





/* Responsive, mobile first design
Styling for screens wider than 992 px*/

@media screen and (min-width: 992px) {
	ul {
		list-style: none;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-align-content: center;
		align-content: center;
		max-height: 50.0vh;
	}
	li {
		display: inline-block;
		margin: auto;
		width: 33.0vh;
	}
	/* Larger block height on larger screens */
	.profile-summary > p {
		height: 40%;
		margin: 0px;
	}
	.picture {
		height: 40%;
	}
}