/*



Accordion styling



*/

/* Toggle styling */
.accordion-toggle, h2 {
	color: #FFFFFF;
	text-align: center;
	font-family: Raleway, sans-serif;
	font-size: 5vh;
	line-height: 6vh;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	margin: 0px;
	border: 0px;
	width: 100%;
	cursor: pointer;
	background-size: cover;
}

/* Toggle backgrounds */
.accordion-toggle:nth-of-type(1) {
	background-image: url("../img/teddy-kelley-toggle.jpg");
}

.accordion-toggle:nth-of-type(2) {
	background-image: url("../img/ales-krivec-toggle.jpg");
}

.accordion-toggle:nth-of-type(3) {
	background-image: url("../img/fabien-barral-toggle.jpg");
}

.accordion-toggle:nth-of-type(4) {
	background-image: url("../img/freddy-castro-toggle.jpg");
}

/* Hides default toggle at start */
.accordion-toggle.default {
	display: none;
	border: 0px;
	margin: 0px;
	border: 0px;
}





/* Content panel styling */
.accordion-content {
	display: none;		/* Hides panels at start */
	background-size: cover;
	background-position: center;
	min-height: 90vh;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.accordion-content.default {
	display: block;		/* Shows default panel at start */
	background-size: cover;
	background-position: center;
	min-height: 90.0vh;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

/* Panel backgrounds */
.accordion-content:nth-of-type(1) {
	background-image: url("../img/teddy-kelley.jpg");
}

.accordion-content:nth-of-type(2) {
	background-image: url("../img/ales-krivec.jpg");
}

.accordion-content:nth-of-type(3) {
	background-image: url("../img/fabien-barral.jpg");
}

.accordion-content:nth-of-type(4) {
	background-image: url("../img/freddy-castro.jpg");
}





/* 



Content styling



*/

body {
	background-color: #000000;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

p {
	font-family: Raleway, sans-serif;
	font-size: 20px;
	color: #FFFFFF;
}

section {
	border: 0px;
	margin: 0px;
	padding: 10px;
}

h3 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 5vh;
	color: #FFFFFF;
}



/* Panel h1 header styling, font size adjusts to 15% of viewport height */
.accordion-content > h1 {
	color: #FFFFFF;
	font-size: 15.0vh;
	font-family: 'Lobster', cursive;
	text-align: center;
	margin: 0px;
}





/* Mobile layout of content */
@media screen and (max-width: 992px) {
	ul {
		list-style: none;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 0px;
	}

	li {
		margin-top: 5vh;
		padding: 0px;
	}
}





/* Profile picture styling */
#portrait {
	border-radius: 15vh;	
	width: 30vh;
	height: 30vh;
	display: block;
	margin: auto;
}





/* Portfolio styling */
.portfolio-thumbnail {
	display: block;
	border-radius: 10vh;
	width: 20vh;
	height: 20vh;
	margin: auto;
	margin-top: 5vh;
}

figcaption > h4 {
	font-family: Raleway, sans-serif;
	font-size: 30px;
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	border: 0px;
	text-align: center;
}

figcaption {
	text-align: center;
	font-family: Raleway, sans-serif;
	font-size: 20px;
	color: #FFFFFF;
}




/* Forms styling */
.form-group {
	width: 80vw;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.form-control {
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	padding-left: 3px;
	margin-top: 3vh;
	font-family: Raleway, sans-serif;
}

.form-email {
	height: 3vh;
}

.form-message {
	height: 10vh;
}

.btn {
	height: 3.5vh;
	width: 14vw;
	font-family: Raleway, sans-serif;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	margin: auto;
	margin-top: 3vh;
}

.btn:hover {
	color: #333333;
	background-color: #E6E6E6;
	border-color: #ADADAD;
}





/* Changes to styling for screens wider than 992 px*/

@media screen and (min-width: 992px) {
	.accordion-content > h1 {
		font-size: 20vh;		/* Larger header font */
	}
	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		padding: 0px;
	}
	li {
		display: inline-block;	/* items display horizontally */
		margin: auto;
		padding: 0px;
	}
	figure {
		width: 40vw;
	}
	article {
		width: 60vw;
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 60vh;
		margin: 0px;
		border: 0px;
	}
	.form-group {
		width: 60vw;			/* Smaller width percentage */
	}
}